<h1 class="order-index">Your Orders</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Number #</th>
      <th>Buyer</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Paid</th>
    </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%= link_to order.user.short_name, order_path(order) %></td>
      <td><%= link_to order.email, order_path(order) %></td>
      <td><%= link_to order.mobile %></td>
      <td><%= link_to order.order_items.size, order_path(order) %></td>
      <td><%= link_to order.amount, order_path(order) %></td>
      <td>
        <% if order.paid %>
          <%= "Paid" %>
        <% else %>
          <%= "Unpaid" %>
        <% end %>
      </td>
    </tr>
  <% end %>  
  </tbody>
</table>