<% if @cart.empty? %>
  <h2>Your Cart is Empty</h2>
<% else %>
  <table class="table cart-table">
    <tr>
      <th>Products name</th>
      <th>price</th>
      <th>quantity</th>
      <th>subtotal</th>
    </tr>
    <tbody>
    <% @cart_item.each do |cart| %>
      <tr>
        <td><%= cart.item.name %></td>
        <td><%= number_to_currency cart.item.price %></td>
        <td><%= cart.quantity %></td>
        <td><%= number_to_currency cart.subtotal %></td>
      </tr> 
    </tbody>
    <% end %> 
    <tfoot>
      <td>Total</td>
      <td></td>
      <td></td>
      <td><%= number_to_currency @cart.total %></td>
    </tfoot>
  </table> 
<% end %>  