<div class="col-sm-6">
  <div class="product-detail">
    <div class="brand"><%= product.firm.name %></div>
    <h2 class="product-title"><%= product.name %></h2>
    <div class="product-price"><%= number_to_currency product.price %></div>
    <div class="product-content"><%= product.content %></div>
    <div class="trans-fee">免運費</div>
  </div>
  <div class="cart-content">
    <div class="cart" ><%= link_to "Add to Cart", add_item_category_product_path(:category_id => product.category.id, :id => product.id), :method => :post, :class => "btn btn-success" %></div>
  </div>
</div>