
<td><%= check_box_tag "ids[]", list.id, false %></td>
<td><a class="parent-<%= list.id %>" ><%= list.name %></a></td>
<td><%= list.description %></td>
<td>
  <%= select_tag "enabled[]", options_for_select({"True" => "true", "False" => "false"}, list.enabled), :class => "btn btn-default" %>
  <%= hidden_field_tag "enabled_ids[]", list.id %>
</td>
<td>
  <%= link_to "Edit", admin_categories_path(:id => list.id), :class => "btn btn-warning btn-sm" %>
  <%= link_to "Delete", admin_category_path(list), :method => :delete, :class => "btn btn-danger btn-sm" %>
</td>