<%= form_tag bulk_update_admin_categories_path do %>
<table class="table">
  <tr>
    <th></th>
    <th>name</th>
    <th>description</th>
    <th>enabled</th>
    <th></th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <%= render :partial => "list_form", :locals => { :list => category } %>
    </tr>
  <% category.children.each do |child| %>
  <tbody class="panel-collapse collapse parent-<%= child.parent_id %> category-children">
    <tr>
      <%= render :partial => "list_form", :locals => { :list => child } %>
    </tr>  
  </tbody>
  <% end %>
  <% end %>
</table>
  <%#= submit_tag "Update", :class => "btn btn-success btn-sm" %>
  <%= submit_tag "Delete", :class => "btn btn-danger btn-sm" %>
<% end %>
<br \>
<%= form_for [:admin, @category] do |f| %>
  <div class="form-group">
    <%= f.label :parent_id, "Parent Category" %>
    <%= f.select :parent_id , Category.root.all.collect{|category| [category.name, category.id] }, :include_blank => true %>
  </div>

  <div class="form-group">
    <%= f.label :name, "Category Name" %>
    <%= f.text_field :name , :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Descrption" %>
    <%= f.text_area :description , :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :enabled, "Status" %>
    <%= f.select :enabled , [["Enabled", true],["Disable", false]] %>
  </div>
  <%= f.submit "Save" , :class => "btn btn-success btn-sm" %>
<% end %>  
<script></script>
