<div class="row">
  <div class="col-sm-2">
    <% @categories.each do |category| %>
      <ul class="nav nav-pill nav-stacked category-list parent-<%= category.id %>">
        <li>
          <%= link_to_if (category.products.size > 0), category.name, category_path(category) %> 
          <% category.children.enabled.each do |child| %>
          <ul class="child-<%= child.parent_id %> collapse out" >
            <li><%= link_to_if (category.products.size > 0), child.name, category_path(child) %></li>
          </ul>
        </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-sm-10">
    <div class="row">
      <%= render :partial => "form_store/products/products", :collection => @products, :as => :product %>
    </div>
    <div class="page">
      <%= paginate @products, :theme => "twitter-bootstrap-3" %> 
      <button class="btn btn-default category-comment-button">Comment</button>
    </div>
  </div>
</div>

<div class="row category-comment-row hidden">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <%= render "form_store/comments/form", :url => category_comments_path(@category) if user_signed_in? %>
  </div>
  <div class="col-sm-6">
    <%= render "form_store/comments/list", :comments => @category.comments, :title => @category.name %>
  </div>
</div>

<script>
  <% @categories.each do |target|  %>
    $(".parent-<%= target.id%>").hover( 
      function() {
        $(".child-<%= target.id %>").slideToggle();
      }
    );
  <% end %>

  $(".category-comment-button").click(
    function() {
      if($(".category-comment-row").hasClass("hidden")) {
        $(".category-comment-row").removeClass("hidden");
      } else{
        $(".category-comment-row").addClass("hidden");
      }
    }  
  );

</script>